.box-hover {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.overlay-hover {
	position: absolute;
	background: #F27C00;
	width: 80%;
	height: 100%;
	z-index: 2;
	transition: 0.2s ease;
	top: 100%;
	opacity: 0;
	left: 10%;

	@media (max-width: 600px) {
		width: 90%;
		left: 5%;
	}
}

.top-text-hover {
	color: #FFF;
	font-size: 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s ease;
	z-index: 3;
	opacity: 0;
	top: 0px;
	padding: 30px;
	top: 10%;
	left: 10%;
	width: 80%;

	@media (max-width: 600px) {
		padding: 15px;
		top: 5%;
		left: 5%;
		width: 90%;
	}
}

.box-hover:hover .overlay-hover {
	top: 10%;
	-webkit-transform: rotate(0);
	transform: rotate(0);
  	opacity: 1;
}

.box-hover:hover .top-text-hover {
  opacity: 1;
}

.pulse-button {
	width: 20px;
	height: 20px;
	color: #fff;
	background: #F27C00;
	border-radius: 50%;
	animation: shadow-pulse 1s infinite;
	position: absolute;
	right: 15px;
	top: 15px;

	@media (max-width: 1200px) {
		right: 30px;
	}

	.box-hover:hover & {
		opacity: 0;
	}
}

@keyframes shadow-pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.2);
	}

	100% {
		box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
	}
}

.grid-title {
	font-size: 20px;
	font-family: 'Arial';
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
}

.grid-desc {
	font-size: 18px;
	font-family: 'Arial';
	color: #FFF;
}

.img-grid {
	width: 100%;
	height: 100% !important;
	object-fit: cover;
}
