
@import "../configuration/mixin";

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

.gallery-grid-container {
    max-width: var(--content-width);
    padding: 0px 16px;
    margin: 0 auto;
}

.column-home {
    // min-width: 30%;
    width: 100%;
    aspect-ratio: 1 / 1;

    @include lg {
        width: calc(33% - 30px);
    }
}

@import "../components/box";